@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family:
    Inter,
    system-ui,
    sans-serif;

  background: #f8fafc;

  color: #1f2937;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #94a3b8;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}